/* define root values */

:root {
    --main-bg-color: #eeeeee;
    --primary-color: #00adb5;
    --secondary-color: #222831;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--primary-color);
    font-family: 'Lexend Peta', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80%;
}

.hero h1 {
    font-size: 3rem;
    text-align: center;
}

.hero p {
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 1.5em;
}

.link {
    display: flex;
    align-items: center;
}

.link a {
    display: block;
    text-decoration: none;
    color: black;
    background: var(--primary-color);
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    width: 160px;
    border-radius: 4px;
}

.logo {
    width: 45px;
    height: 60px;
    padding: 10px;
}